.login-container{
  height: 100vh;
  background: linear-gradient( rgb(204, 87, 87),rgb(79, 79, 174),rgb(98, 187, 98));
}
.login-box{
  width: 100%;;
  max-width: 400px;
  max-height: 500px;
  background-color: transparent;
}